# Nuxt
.nuxt
.output
.data
.env
.env.*
!.env.example

# Dependencies
node_modules

# Build
dist

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db